 
    <nav class="navbar navbar-dark bg-dark border-bottom border-danger border-2 ">
              
    <h4 class="navbar mx-auto "><a class="font-weight-bold text-info text-light" href="/">My Library</a></h4>
    <h6 class="navbar-item float-right"><a class="font-weight-bold text-info text-light" href="/">Home</a></h6>
    <h6 class="navbar-item float-right ml-5 mr-5"><a class="font-weight-bold text-info text-light" href="/">About</a></h6></nav>
    
</nav>  

  <br><br>
   <div class="btn-group-horizontal container my-4 ">
    <button type="button" class="btn btn-info btn-lg "><a class="text-light"  href="/">Playlist</a></button>

        <button type="button" class="btn btn-info btn-lg"><a class="text-light" href="/artists">Artists</a></button>
        <button type="button" class="btn btn-info btn-lg"><a class="text-light" href="/artists/new">Add Artists</a></button>

        <button type="button" class="btn btn-info btn-lg"><a class="text-light" href="/tracks">Tracks</a></button>
        <button type="button" class="btn btn-info btn-lg"><a class="text-light" href="/tracks/new">Add Tracks</a></button>
    </div>
    
    
    
