
    <nav class="navbar navbar-dark bg-dark ">
        
    <!-- <ul>
        <li><button type="button" class="btn btn-secondary bg-light"><a href="/artists">Artists</a></button></li>
        <li><button type="button" class="btn btn-secondary bg-light"><a href="/artists/new">Add Artists</a></button></li>
    
    </ul> -->


        
        <h2 class="navbar-brand mx-auto "><a class="font-weight-bold text-info text-light" href="/">My Playlist</a></h2></nav>
    </nav> 

   <div class="btn-group-horizontal container my-4 ">
        <button type="button" class="btn btn-info"><a class="text-light" href="/artists">Artists</a></button>
        <button type="button" class="btn btn-info "><a class="text-light" href="/artists/new">Add Artists</a></button>

        <button type="button" class="btn btn-info "><a class="text-light" href="/tracks">Tracks</a></button>
        <button type="button" class="btn btn-info "><a class="text-light" href="/tracks/new">Add Tracks</a></button>
    </div>
    
    
    
