<header class="">
    <nav class="container my-4 ">
    <!-- <ul>
        <li><button type="button" class="btn btn-secondary bg-light"><a href="/artists">Artists</a></button></li>
        <li><button type="button" class="btn btn-secondary bg-light"><a href="/artists/new">Add Artists</a></button></li>
    
    </ul> -->
    
    <div  class="btn-group-horizontal">
        
        <h2 class=""><a class="font-weight-bold text-info" href="/">Recommend Provider</a></h2>
        <button type="button" class="btn btn-dark justify-content-center "><a class="text-light" href="/artists">Artists</a></button>
    
        <button type="button" class="btn btn-dark "><a class="text-light" href="artists/new">Add Artists</a></button>
    </div>
    
    </nav>
</header>