<div class="container"><h4>Playlist</h4>
<div>  
    <br>
    <% tracks.forEach(track => { %> 
        <a href="/tracks/<%= track.id  %>">
    <img class="d-inline" src="<%= track.coverImagePath %>" height="75" width="75">
        </a><a class="text-dark" href="/tracks/<%= track.id  %>">
        <h5 class="d-inline"><%= track.title %></h5></a>
  <br>
    <% }) %>
</div></div>
<br><br><br><br><br>
<br><br><br><br><br>
