<div class="form-group">
<<<<<<< HEAD
<label class="text-dark">Name</label>
<input type="text" name="name" value="<%= artist.name %>">
</div>
=======
<label class="text-light" for="">Name</label>
<input type="text" name="name"><%= artist.name  %> </div>
>>>>>>> parent of 3c83d35 (add düzeldi)
