<nav class="container"> 
<<<<<<< HEAD
   <div class="mx-auto"> <h4>New Artist</h4> 
<form action="/artists" method="POST">
=======
   <div class="mx-auto"> <h2>New Artist</h2> 
<form action="/artists" method="POST" enctype="multipart/form-data">
>>>>>>> parent of 3c83d35 (add düzeldi)
        <%- include("_form_fields") %> 

    <button class="btn btn-primary"><a href="/artists" class="text-light">Cancel</a></button>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
</form></div></nav>