<nav class="container"> 
   <div class="mx-auto"> <h4>New Artist</h4> 
<form action="/artists" method="POST">
        <%- include("_form_fields") %> 

    <button class="btn btn-primary"><a href="/artists" class="text-light">Cancel</a></button>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
</form></div></nav>